.login bg-image {
    background: url('../../../static/images/loginbackground.jpg') no-repeat center;         
	position: relative;
	display: block;
	background-size: 600px;
	opacity: 0.5;
	padding: 50px;
}